  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Name your project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <label class="col-sm-2 col-form-label"> Enter project name:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]= "ProjectName"
                placeholder="Enter project name">

            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveButtonClick()" data-dismiss="modal" [disabled]="ProjectName === ''">Save project</button>
        </div>
      </div>
    </div>
  </div>



<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
    <li class="navbar-item">
        <button id="startClickButton" class="btn btn-success btn-space"  Button>Start timer</button>
        <button id="stopClickButton" class="btn btn-success btn-space2" Button>End timer</button>

    </li>

</ul>
</nav>

